<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Monitoramento</title>

    <link rel="stylesheet" href="/static/style.css">
    <script src="/static/script.js"></script>
</head>
<body>

<div class="container">
    <h1>Status dos Serviços</h1>

   <section class="list" id="service-list">
    {{range .}}
    <div class="card">
        <div class="info">
            <span class="dot {{.Status}}"></span>
            <span class="service">{{.Service}}</span>
        </div>

        <div class="badge {{.Status}}">
            {{.Status}}
        </div>
    </div>
    {{end}}
</section>
</div>

</body>
</html>